<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elekto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Elekto.Properties.Settings>
            <setting name="LastCalendar" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCalculationType" serializeAs="String">
                <value>Financial</value>
            </setting>
            <setting name="LastPeriodType" serializeAs="String">
                <value>WorkDays</value>
            </setting>
            <setting name="LastFinalDateAdjust" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastTerm" serializeAs="String">
                <value>252</value>
            </setting>
        </Elekto.Properties.Settings>
    </userSettings>
</configuration>